<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ page.title }} | {{ site.author.name }}
    </title>

    <link
        rel="stylesheet"
        href="{{ '/assets/css/style.css' | relative_url }}"
    >

</head>


<body>

    <header class="navbar">

        <div class="nav-container">

            <a
                href="{{ '/' | relative_url }}"
                class="logo"
            >
                {{ site.author.name }}
            </a>


            <nav>

                <a href="{{ '/#projects' | relative_url }}">
                    Projects
                </a>

                <a href="{{ '/experience/' | relative_url }}">
                    Experience
                </a>

                <a href="{{ '/resume/' | relative_url }}">
                    Resume
                </a>

            </nav>


            <a
                href="{{ '/contact/' | relative_url }}"
                class="nav-button"
            >
                Contact Me
            </a>

        </div>

    </header>


    <main>

        {{ content }}

    </main>


</body>

</html>